Package: enigma2-plugin-skins-platoonhd
Version: 2.0.8
Section: misc
Priority: optional
Architecture: all
Depends: enigma2-plugin-extensions-openwebif, python-imaging, python-requests, python-lxml
Maintainer: örlgrey
Description: Skin for Enigma2
Source:
